services:
  scheduler:
    build: .
    container_name: scheduler
    networks:
      - scheduler_network
    restart: unless-stopped
    environment:
      - APP_VERSION=dev
      - BOT_TOKEN=${BOT_TOKEN}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
    volumes:
      - ./app:/bot/app
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 2

    command: uv run python -m app.main


networks:
  scheduler_network:
    external: true